/*@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/worksans-bold-webfont.woff2") format("woff2"),
         url("../assets/fonts/worksans-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/worksans-medium-webfont.woff2") format("woff2"),
         url("../assets/fonts/worksans-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/worksans-regular-webfont.woff2") format("woff2"),
         url("../assets/fonts/worksans-regular-webfont.woff") format("woff");
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/worksans-light-webfont.woff2") format("woff2"),
         url("../assets/fonts/worksans-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}*/


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');